<div class="content-wrapper">
  <header class="article-header">
    <h1 class="headline">{{{ article.post.title }}}</h1>
    <div class="stand-first">{{{ article.post.standfirst }}}</div>
    <div class="publish-date">{{{ postDate }}}</div>
  </header>
  <div class="article-hero">
    <img src='{{{ article.post.image }}}' alt="">
  </div>
  <div class="article-wrapper">
    <article>
      {{{ article.post.body }}}
    </article>
    <div class="comments-wrapper">
      <div class="comments-header">
        <div class="title"><span class="comments-length"></span> Comments</div>
        <div class="sort">
          Sort:
          <span class="sort-likes">Likes</span>
          <span> | </span>
          <span class="sort-newest">Newset</span>
        </div>
      </div>
      <div class="comments-body"></div>
    </div>
  </div>
  <aside class="side-rail">
    <h3>More Stories</h3>
    <div class="associated-articles">
      {{#each posts}}
      <div class="story">
        <img src="{{ thumbnail }}">
        <div class="content">
          <h4 class="title">{{ title }}</h4>
          <a href="#" class="title">Read more</a>
        </div>
      </div>
      {{/each}}
    </div>
  </aside>
</div>